# Ignore specific files
trim.py
preprocessing.py
training.py
oxford_original.model
oxford_updated.model
word2vec-google-news-300_reduced.model
word2vec-google-news-300_reduced.model.vectors.npy
model_evaluation.txt
testing.py
venv/
data/