

p { font-family: Raleway; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Raleway; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Raleway; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
h1 { font-family: Raleway; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Raleway; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Raleway; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Raleway; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

b { 
    font-weight: 850; /* This is usually the default, but it's good to be explicit. */
}

#graph-container {
    width: 100%;
    height: 78vh; /* Adjust the height as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Additional custom styles can go here */
#svg-container {
    width: 100%;
    height:78vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}
#dropdownNavbar {
  position: absolute;
  z-index: 10;
}
#info-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000; /* Make sure it appears above other elements */
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

.fade-out {
    animation: fadeOut ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.loading-container {
    width: 50px; /* or any desired width */
    height: 20px; /* or any desired height */
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden; /* Ensure the inner bar doesn't overflow */
}

.loading-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0%; /* Initial width is 0, will animate to 100% */
    transition: width 2s; /* Smooth transition for width change */
}
